html{
    scroll-behavior: smooth;
}

.card{
    transition: all 0.3s ease

}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.card h3{
    color: #3f51b5;
    font-weight: 700;
}

.btn{
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.05);
}